body 
{
   font-family: 'Raleway', sans-serif;
   margin: auto;
}

*
{
    box-sizing: border-box;
}

p
{
    margin: 0;
    padding: 0;
    border: 0;
}

a
{
    text-decoration: none;
}


/************************************************Header*********************************************/

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}

.logo 
{
   width: 120px;
   padding-top: 25px;
}

.logo:hover
{
    transform: scale(1.05);
}

nav
{
    border: 1px solid transparent;
    padding-top: 25px;
}


nav ul
{
    display: flex;
    list-style: none;
}

nav a
{
    font-size: 18px;
    padding: 41px 25px 0px 25px;
    font-weight: 500;
    color: black;
}

nav a:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.puce3
{
    color: #0065FC;
    font-weight: bolder;
}

/***********************************************************************Main*****************************************/

/**************************************Recherche**********************************/

.recherche
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2.5%;
    
}

.recherche h1
{
    display: flex;
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.nature
{
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.recherche_ensemble
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.recherche_icone
{
    border: 1px;
    background-color: #F2F2F2;
    padding: 16px 17px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 45px;
}

.recherche_champ
{
    border: 1px solid #F2F2F2; 
    padding: 14px 12px;
    margin-right: 0;
    font-weight: 700;
    font-size: 17px;
}

.recherche_bouton
{
    background-color: #0065FC;
    color: white;
    padding: 15px 12px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 0;
    font-size: 17px;
}

.recherche_bouton:hover
{
    transform: scale(1.05);
}


/*****************************************Filtres**********************************/

.filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 2.5%;

}

.filtres p
{
    font-weight: bold;
    font-size: 18px;
    margin: 1px 25px 1px 0px;
}

.bouton_filtres:hover
{
    background-color: #DEEBFF;
    transform: scale(1.05);
}

.bouton_filtres
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #F2F2F2;
    margin-right: 1.5em;
}


.bouton_filtres i
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#DEEBFF;
    border-radius: 100%;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin: -2px;
}

.bouton_filtres p
{
    margin: 1px 16px;
    font-size: 16px;
    font-weight: 800;
}

.bottom_filtres
{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 2.5%;
}

/************************************Font Awesome*****************************************/ 

.icon
{
    color:#0065FC;
}

.fa_infobulle
{
    width: 25px;
    height: 25px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: #0065FC;
    border-radius: 100%;
    padding: 4px;
    font-size: 0.8em;
    text-align: center;
    vertical-align: center;
    margin-right: 10px;
}

.grey
{
    color: #ebe6e6e0;
}

/*************************************************Section*******************************************/


section
{
    display: flex;
    justify-content: flex-start;
    margin: 0% 2.5%;
}

section p
{
    color: black;
}

.hebergements
{
    width: 68%;
    background-color: #F2F2F2;
    margin-right: 40px;
    padding: 5px;
    border-radius: 20px;
}

.hebergements h1
{
    margin: 15px;
    font-weight: bold;
}

.results
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.result
{
    width: 260px;
    height: 200px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 6px 2px rgb(175, 175, 175);
}

.result:hover
{
    transform: scale(1.05);
}

.hebergements_nom
{
    font-weight: bold;
    margin: 5px;
}

.prix
{
    margin: 0px 5px;
    font-size: 14px;
    padding-bottom: 5px;
}

.notation
{
    margin: 0px 5px 5px 5px;
}

.result img
{
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.afficher
{
    margin: 15px;
    font-weight: 700;
}



/*********************************************Aside************************************/

aside
{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
}

aside h1
{
    font-size: 1.5em;
    margin: 5% 5% 4% 5%;
    font-weight: 800;
}

aside a
{
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 5px auto 10px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgb(175, 175, 175);
}

aside a:hover
{
    transform: scale(1.05);
}

.text_bloc
{
    font-weight: 600;
}


.result_flex
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


aside img
{
    height: 140px;
    width: 130px;
    object-fit: cover;
    padding: 5px;
    border-radius: 20px 0px 0px 20px;
}

/***************************************Activités********************************************/

#activites
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#activites h1
{
    margin: 15px;
}

.populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fleche
{
    font-size: 18px;
    padding-right: 20px;
    
}

.activites 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.activites h3
{
    font-size: 16px;
    padding: 2px 5px 10px 15px;
}


.activites a
{
    color: black;
}

.acti
{
    box-shadow: 2px 2px 6px 2px rgb(175, 175, 175);
    border-radius: 20px;
}

.acti:hover
{
    transform: scale(1.05);
}

.activites img
{
    border-radius: 20px 20px 0px 0px;
    width: 280px;
}

.vieux_port img
{
    
    height: 340px;
    object-fit: cover;
}

.fort_frioul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fort img
{
    height: 160px;
    object-fit: cover;
}

.frioul img
{
    height: 130px;
    object-fit: cover;
}

.calanques img
{
    height: 340px;
    object-fit: cover;
}

.dame img
{
    height: 145px;
    object-fit: cover;
}

.parc img
{
    height: 145px;
    object-fit: cover;
}

/*****************************************************Footer**********************************************************/

footer
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 40px 40px;
}

footer ul
{
    list-style: none;
    padding: 5px 5px 3px 0px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
}

footer li
{
    padding: 5px 0px;
}

footer a
{
    color: black;   
}

.foot_nav
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin-right: 200px;
}
