body 
{
   font-family: 'Raleway', sans-serif;
}

*
{
    box-sizing: border-box;
}

p
{
    margin: 0px;
    padding: 0px;
    border: 0;
}

.bloc_page
{
    width: 95%;
    margin: auto;
}

/************************************************Header*********************************************/

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo 
{
   width: 120px;
   height: auto;
}

.nav_links
{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.nav_links a
{
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 15px 10px 50px;
}

.puce1
{
    color:#0065FC;
    font-weight: 500;
}

.puce2
{
    font-weight: 300;
    color: black;
}

.puce3
{
    color: #0065FC;
    font-weight: bolder;
}

/***********************************************************************Main*****************************************/

/**************************************Recherche**********************************/

.recherche
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.recherche h1
{
    display: flex;
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.nature
{
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.recherche_ensemble
{
    display: flex;
    justify-content: row;
    align-items: center;
    margin-top: 10px;
}

.recherche_icone
{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 14px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.recherche_champ
{
    border: 1px solid #F2F2F2; 
    padding: 14px 12px;
    margin-right: 0;
    font-weight: 700;
    font-size: 17px;
}

.recherche_bouton
{
    background-color: #0065FC;
    color: white;
    padding: 15px 12px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 0;
    font-size: 17px;
}


/*****************************************Filtres**********************************/

.filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filtres p
{
    font-weight: bold;
    font-size: 18px;
    margin: 14px 10px;
}

.bouton_filtres
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #F2F2F2;
    margin-right: 1.5em;
}

.bouton_filtres i
{
    background-color:#DEEBFF;
    border-radius: 100%;
    text-align: center;
    padding: 12px;
    width: 50px;
    height: 50px;
    font-size: 22px;
}

.bouton_filtres p
{
    margin: 1px 20px;
    font-size: 18px;
}

.bottom_filtres
{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/************************************Font Awesome*****************************************/ 

.icon
{
    color:#0065FC;
}

.fa_infobulle
{
    width: 25px;
    height: 25px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: #0065FC;
    border-radius: 100%;
    padding: 4px;
    font-size: 0.8em;
    text-align: center;
    vertical-align: center;
    margin-right: 10px;
}

/*************************************************Section*******************************************/


section
{
    display: flex;
    justify-content: flex-start;
}

.hebergements
{
    width: 68%;
    background-color: #F2F2F2;
    margin-right: 40px;
    padding: 5px;
    border-radius: 20px;
}

.hebergements h1
{
    margin: 15px;
    font-weight: bold;
}

.results
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.result
{
    width: 260px;
    height: 200px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 7px 3px 3px rgb(175, 175, 175);
    
}

.hebergements_nom
{
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.prix
{
    margin: 0px;
}

.notation
{
    margin: 1px 3px 5px 3px;
}

.result img
{
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.result a
{
    text-decoration: none;
}

/*********************************************Aside************************************/

aside
{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
}

.result_aside
{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 7px 3px 3px rgb(175, 175, 175);
    margin: 5px;
    border-radius: 20px;
}

.result_flex
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}

.result_aside a
{
    text-decoration: none;
}

aside img
{
    min-height: 130px;
    max-height: 150px;
    max-width: 160px;
    
    padding: 5px;
    border-radius: 20px;
}

/********************************Footer**********************************/

footer
{
    display: flex;
    justify-content: space-between;
}