body 
{
   font-family: 'Raleway', sans-serif;
   margin: auto;
}

*
{
    box-sizing: border-box;
}

p
{
    margin: 0;
    padding: 0;
    border: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

ul
{
    margin: 0;
    padding: 0;
}

h3
{
    margin: 0;
}

/******************************************Desktop************************************************/

/**************************************Header*************************************/

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 2.5%;
}

.logo_container
{
   width: 120px;
   padding-top: 1.8em;
   flex-grow: 1;
}

/*********************Nav***********************/

nav ul
{
    display: flex;
    list-style: none;
}

nav ul li
{
    border: 3px solid transparent;
    font-size: 1.2em;
    padding: 1.8em 1em 1em;
    font-weight: 500;
    color: black;
}

nav ul li:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.puce3
{
    padding: 1.8em 1.2em 1em 1em;
    font-size: 1.2em;
    font-weight: 800;
    color: #0065FC;
}

.puce3:hover
{
    transform: scale(1.05);
    transition: 500ms;
}

/*********************************************************Main*****************************************/


/*****************************Recherche**********************************/

.recherche
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recherche h1
{
    display: flex;
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.nature
{
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.recherche_ensemble
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.recherche_icone
{
    border: 1px;
    background-color: #F2F2F2;
    padding: 18px 17px 17px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 45px;
}

.recherche_champ
{
    border: 1px solid #F2F2F2; 
    padding: 14px 0.5em;
    margin-right: 0;
    font-weight: 700;
    font-size: 17px;
}

.recherche_bouton
{
    background-color: #0065FC;
    color: white;
    padding: 15px 12px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 0;
    font-size: 17px;
    cursor: pointer;
}

.recherche_bouton:hover
{
    transform: scale(1.05);
    transition: 500ms;
}

.search_icon
{
    visibility: hidden;
}

/**********************************Filtres**********************************/

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 0;
}

.filtres p
{
    font-weight: bold;
    font-size: 18px;
    margin: 1px 25px 1px 0px;
}

.bouton_filtres:hover
{
    background-color: #DEEBFF;
    transform: scale(1.05);
    transition: 500ms;
}

.bouton_filtres
{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #F2F2F2;
    margin-right: 1.5em;
    cursor: pointer;
}

.bouton_filtres i
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#DEEBFF;
    border-radius: 100%;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin: -2px;
}

.bouton_filtres p
{
    margin: 1px 16px;
    font-size: 16px;
    font-weight: 800;
}

.bottom_filtres
{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

/******************************Font Awesome*************************************/ 

.icon
{
    color:#0065FC;
}

.fa_infobulle
{
    width: 25px;
    height: 25px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: #0065FC;
    border-radius: 100%;
    padding: 4px;
    font-size: 0.8em;
    text-align: center;
    vertical-align: center;
    margin-right: 10px;
}

.grey
{
    color: #ebe6e6e0;
}

/*****************************************Section**********************************/


section
{
    display: flex;
    justify-content: flex-start;
    margin: 0% 2.5%;
}

section p
{
    color: black;
}

.section1
{
    flex-direction: column;
}

.hebergements h2
{
    margin-left: 1em;
}

.hebergements
{
    width: 68%;
    background-color: #F2F2F2;
    margin-right: 40px;
    padding: 5px;
    border-radius: 20px;
}

.hebergements_nom
{
    font-weight: bold;
}

.results
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.result
{
    width: 30%;   
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 4px;
    box-shadow: 2px 2px 6px 2px rgb(175, 175, 175);
}

.result img
{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.result:hover
{
    transform: scale(1.05);
    transition: 500ms;
}

.afficher
{
    margin: 15px;
    font-weight: 700;
}

/************************************Aside************************************/

aside
{
    width: 32%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
}

aside h2
{
    font-size: 1.5em;
    margin: 5% 5% 4% 5%;
    font-weight: 800;
}

aside a
{
    width: 90%;
    display: flex;
    background-color: white;
    margin: 5px auto 10px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgb(175, 175, 175);
}

aside a:hover
{
    transform: scale(1.05);
    transition: 500ms;
}

.text_bloc
{
    font-weight: 600;
}

.result_flex
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5em;
    padding: 8px;
}

.flex2
{
    line-height: 1.1em;
}

aside img
{
    height: 140px;
    width: 130px;
    object-fit: cover;
    padding: 5px;
    border-radius: 20px 0px 0px 20px;
}

/******************************Activités************************************/

#activites
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#activites h2
{
    margin: 15px;
}

.populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fleche
{
    font-size: 1.5em;
    padding-right: 1em;  
}

.activites 
{
    display: flex;
    justify-content: space-between;
}

.activites h3
{
    font-size: 14px;
    padding: 2px 5px 10px 15px;
}

.activites a
{
    color: black;
}

.acti
{
    box-shadow: 2px 2px 6px 2px rgb(175, 175, 175);
    border-radius: 20px;
    margin-bottom: 28px;
}

.cont
{
    width: 23%;
}

.acti:hover
{
    transform: scale(1.05);
    transition: 500ms;
}

.activites img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.vieux_port img
{
    height: 400px;
}

.fort img
{
    height: 210px;
}

.frioul img
{
    height: 135px;
}

.calanques img
{
    height: 400px;
}

.dame img
{
    height: 180px;
}

.parc img
{
    height: 165px;
}

/***********************************Footer********************************/

footer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 30px;
    padding: 10px 0px 20px 40px;
}

footer ul
{
    list-style: none;
    padding: 5px 5px 3px 0px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
}

footer li
{
    padding: 5px 0px;
}

footer a
{
    color: black;   
}

.foot_nav
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    line-height: 1.7em;
}

/*************************************************************Mobile**********************************************/

@media all and (max-width: 767px)
{

/****************Header_mob***************************/

header
{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

.logo_container
{
    order: 0;
    flex-grow: 1;
    margin: 0px 25px 10px;
}

.puce3
{
    order: 1;
    font-size: 1.4em;
}

nav
{
    order: 2;
    width: 100%;
}

nav ul li 
{
    width: 50%;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 10px;
    font-size: 1.3em;
    border: 0;
    border-bottom: 2px solid #F2F2F2
}


nav ul li:hover, nav ul li:focus
{
    color: #0065FC;
    padding-bottom: 10px;   
    border-bottom: 2px solid #0065FC;
    border-top: 0;
}

/***************************************Recherche_mob************************/
.recherche h1
{
    margin: 5% 4%;
}

.nature
{
    margin: 0 5% 1%;
}

.recherche_ensemble
{
    margin: 20px 2.5%;
}

.recherche_champ
{
    flex-grow: 1;
}

.recherche_bouton
{
    display: none;
}

.search_icon
{
    visibility: visible;
    font-size: 1.2em;
    margin-left: -1em;
    color: white;
    padding: 0.8em;
    border-radius: 30%;
    background-color: #0065FC;
    cursor: pointer;
}

/******************************************Filtres_mob***************************************/

.filtres
{
    flex-wrap: wrap;
    align-items: baseline;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.filtres_titre
{
    width: 80%;
    margin-bottom: 20px;
}


.bouton_filtres
{
    margin-bottom: 15px;
}

.bottom_filtres
{
    margin-left: 2.5%;
    margin-right: auto;
}

/*******************************************Main_mob**********************************************/

section
{
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.hebergements
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    order: 2;
    height: auto;
    background-color: white;
}

.hebergements h2
{
    margin-left: 30px;
}

.result
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.result img
{
    height: 170px;
}

/******************************Aside_mob**************************/

aside
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 0;
    padding-bottom: 30px;
}

.image_aside
{
    width: 40%;
}

aside img
{
    width: 100%;
    height: 170px;
}

.result_flex
{
    width: 60%
}

.afficher
{
    margin: 1em 0 0 0.8em;
    font-size: 1.5em;
}

/****************************Activités_mob*********************/

#activites h2
{
    margin: 1em;
}
.activites
{
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.activites img
{
    width: 100%;
    height: 170px;
}

.acti
{
    margin-bottom: 25px;
}

.cont
{
    width: 100%;
}

/***********************************************Footer_mob*****************************************/
footer
{
    flex-direction: column;
    padding: 10px 0px 40px 5%;
}

.foot_nav
{
    width: 90%;
    margin-bottom: 2em;
    margin-right: 0;
    line-height: 1.5em;
}

}

@media (min-width: 501px) and (max-width: 767px)
{

.result
{
   width: 82%;
}

aside a
{
    width: 83%;
}

.activites
{
    width: 82%;
}

#activites h2
{
    margin-left: 9%;
}

.hebergements h2
{
    margin-left: 10%;
}

.afficher
{
    margin-left: 8%;
}

footer
{
    padding: 10px 0px 40px 8%;
}

}

/********************************************Tablet***********************************************************/

@media (min-width: 768px) and (max-width: 1000px)
{



/*****************************Filtres_tab******************************/


.filtres
{
    flex-wrap: wrap;
    align-items: baseline;
}

.bouton_filtres
{
    margin: 0.5em 1em;
}

/*************************************Section_Tab*****************************/

section
{
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.section1
{
    margin: 0 2.5%;
}

.hebergements
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    order: 2;
    height: auto;
    background-color: white;
}

.hebergements h2
{
    margin-left: 20px;
}

.result img
{
    height: 220px;
}

.result
{
    width: 46%;
    margin-left: auto;
    margin-right: auto;
}

/*******************************Aside_Tab*****************************/

aside
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 0;
    padding-bottom: 30px;
}

.image_aside
{
    width: 40%;
}

aside img
{
    width: 100%;
    height: 170px;
}

.result_flex
{
    width: 100%
}

.afficher
{
    margin: 1em 0 0 0.8em;
    font-size: 1.5em;
}

/**************************Activités_Tab*****************************************/

#activites h2
{
    margin: 1em 0 1em 1.6em;
}
.activites
{
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.activites img
{
    width: 100%;
    height: 170px;
}

.acti
{
    margin-bottom: 25px;
}

.cont
{
    width: 48%;
}

.fort_frioul
{
    order: 2;
}

}

